*{
margin: 0;
padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
nav {
    background-color: #363333;
    padding: 10px 0;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 20px;
}

.menu a:hover {
    background-color: #555;
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #4CAF50;
    transition: 0.5s;
}

.menu a:hover::before {
    width: 100%;
}

